* {
    padding: none;
    margin: 0;
    
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to top right, #18557A, #09202E, #040E14);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.MAIN-MAIN {
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.botao-branco{
    background-color: white;
    border-radius: 10px;
    height: 177px;
    width: 35vw;
    

 }

h2 { color: rgb(0, 0, 0);}
