@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: none;
    margin: 0;
    
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to top right, #18557A, #09202E, #040E14);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.MAIN-MAIN {
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.botao-branco{
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    height: 8rem;
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
 }

a {    cursor: pointer;
    font-family: "Poppins", sans-serif;font-weight: 700;
    font-size: x-large;
    background-color: white;
    text-decoration: none;
    color: inherit;

}

h2 { color: rgb(0, 0, 0);}
